<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ /*
  ~  * Copyright 2012-2020 the original author or authors.
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  * you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  *      https://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<root>
	<item id="name">文件权限检查</item>
	<item id="version">1.0.0</item>
	<item id="author">Monkey</item>
	<item id="date">2008-6-16</item>
	<item id="lastmodified">2008-6-16</item>
	<item id="copyright">Comsenz 所有</item>
	<item id="tabindex">2</item>
	<item id="tips">检查 UCenter 文件是否被修改。</item>
	<item id="lang">
		<item id="plugin_filecheck_modifed">被修改</item>
		<item id="plugin_filecheck_deleted">被删除</item>
		<item id="plugin_filecheck_unknow">未知</item>
		<item id="plugin_filecheck_modifed_in_aweek">一周内被修改</item>
	</item>
</root>